@charset "UTF-8";
@font-face {
	font-family : "AWide";
	src: url("Awide.ttf")
}

body {
	background-color: teal;
	padding : 0px;
	margin: 0px;
}


#appleTbl {
	top : -2px;
	width: 50%;
	background-color: white;
}
#appleContext {
	font-family: "AWide";
	color: lightblue;
	font-size: 40pt;
	font-weight: 900;
	text-decoration: none;
	background-color: white;
}

#appleImg img {
	width: 22%;
	height:22%;
	object-fit:cover;
}
#appleTitle {
	background-color: pink;
	width: 100%;
}