@charset "EUC-KR";
@font-face {
	src:url("AWide.ttf");
	font-family:"AWide";
	/* 
		웹폰트 등록 :
		CSS에 추가
		폰트파일에 있는 글자들의 모양이 다 등록
			=>용량이 커집니다 !
	 */
}
::-webkit-scrollbar {
	display : none;
}

body {
	font-family: "AWide";
	/* html 기본 여백 없애기 */
	margin: 0px;
	padding: 0px;
	/* margin: 바깥쪽 여백 / padding:안쪽 여백 */
}

#siteTitleArea {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-spacing: 0px; /* td간의 간격 */
}

#siteMenuArea {
	background-color: #FFCCFF40;	
	font-size : 20pt;
}

#siteMenuArea table {
	width: 100%
}

#siteMenuArea td {
	width : 25%;
	text-align : center;
}

#siteMenuArea a {
	text-decoration : none;
	color: #ff8000;
	font-weight: 500;
	/* 애니메이션 효과 */
	/* 속성명 시간 (ease-in / ease-out)*/
	transition: all 0.5s ease-in;
}

#siteMenuArea a:hover {
	font-size: 40pt;
	text-shadow: yellow 0px 0px 10px;
	text-decoration: underline;
}

#siteMenuArea a:active {
	color: orange;
}

#siteTitleArea {
	background-color: silver;
	font-size: 30pt;
	color: black;
	text-shadow: teal 3px 5px 5px;
	width: 2000px;
}

 #siteContentArea {
 	width : 1000px;
 	margin-left: auto;
 	margin-right: auto; /* left, right : auto를 주면 가운데 정렬  */
	margin-top: 100px;
 }
#gom {
	max-width: 50%;
	/* 
		사이즈를 조절하면 그림이 깨져서 안하는게 베스트 !
		어쩔 수 없다면
		 	큰 그림 => 줄이기 : OK!
		 	작은 그림 => 늘리기 : 깨져서 나올수도 있음
	 */
	 
	 /* 객체 자체에 그림자 */
	 box-shadow:   orange 5px 5px 30px;
}

#siteBoardArea {
 	background-color: #FFCCFF40;
	
}








